<!-- templates/home/index.html -->
{% extends 'base.html' %}

{% load static %}  <!-- Add this line -->

{% block title %}Home - FinanceTool{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="jumbotron bg-transparent">
        <h1 class="display-4">Welcome to FinanceTool</h1>
        <p class="lead">Manage your finances effectively and achieve your goals.</p>
        <img src="{% static 'img/rocket.png' %}" class="img-fluid my-4" alt="Finance Illustration">
        {% if not user.is_authenticated %}
        <p>
            <a class="btn btn-primary btn-lg mx-2" href="{% url 'users:login' %}" role="button">Login</a>
            <a class="btn btn-success btn-lg mx-2" href="{% url 'users:register' %}" role="button">Register</a>
        </p>
        {% else %}
        <p>
            <a class="btn btn-primary btn-lg" href="{% url 'transactions:transaction_list' %}" role="button">Go to Portfolio Management</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
