{% extends 'base.html' %}

{% block title %}{{ action }} Transaction - FinanceTool{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ action }} Transaction</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">{{ action }} Transaction</button>
        <a href="{% url 'transactions:transaction_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
